@CHARSET "UTF-8";


.dlabel{
	text-align:right;
}

.modal-body .row{
	margin-top:10px;
}

.select-control{
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-area{
	padding: 5px 20px;
	height:50px;
}

.float-left{
	float:left;
}

.float-gap{
	padding: 0 10px;
}

.time-text{
	margin:0 2px;
}

.label-control{
	padding-top: 6px;
}

.time-input{
	width: 150px;
}

.sq-input{
	width: 434px;
}

.sq-text{
	width: 434px;
	height:40px;
}

.sq-input2{
	width: 144px;
}

.sq-text2{
	width: 144px;
	height:40px;
}

.select-condition{
	width: 100px;
}

.space{
	height:20px;
}

.col-md-2,.col-md-6{
	border:1px solid gray;
	height:40px;
	text-align:center;
	padding-top:10px;
}

.noborder{
	border:0px;
}