@CHARSET "UTF-8";

@CHARSET "UTF-8";
@CHARSET "UTF-8";

.select-control{
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-area{
	padding: 5px 20px;
	height:50px;
}

.float-left{
	float:left;
}

.float-gap{
	padding: 0 15px;
}

.time-text{
	width: 65px;
}

.label-control{
	padding-top: 6px;
}

.time-input{
	width: 150px;
}

.select-condition{
	width: 100px;
}

